@import 'core.import'


$TR_FONT_SANS = 'Helvetica Neue', Helvetica, Arial, sans-serif


// Colors.
$TR_BLUE    = #03A9F4
$TR_ORANGE  = #FF9900
$TR_PINK    = #FF4081
$TR_RED     = #F44336
$TR_GREEN   = #4CAF50


// Responsive widths.
$WIDTH_WIDE   = query-min-width(951)
$WIDTH_NORMAL = query-max-width(950)
$WIDTH_NARROW = query-max-width(600)


// Sizes.
$HEADER_HEIGHT = 290px
