@import 'core.import'


$TR_FONT_SANS = 'Helvetica Neue', Helvetica, Arial, sans-serif


// Colors.
$VELOCITY_GREEN = rgb(33, 149, 79)
$VELOCITY_RED = rgb(226, 86, 78)
$TR_BLUE    = #03A9F4
$TR_ORANGE  = #FF9900
$TR_PINK    = #FF4081
$TR_RED     = $VELOCITY_RED
$TR_GREEN   = $VELOCITY_GREEN


// Responsive widths.
$WIDTH_WIDE   = query-min-width(951)
$WIDTH_NORMAL = query-max-width(950)
$WIDTH_NARROW = query-max-width(600)


// Sizes.
$HEADER_HEIGHT = 290px
